<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/done.css">
</head>
<body>
    
    <h2>Remember to complete:</h2>

    <p>{{ reminder }} </p>

    <h2>By: </h2>

    <p>{{ date }}</p>

    <h3>Other assignments:</h3>

    <div style="text-align: center">
    <form action = "/response" method="post">
        <input type = "submit" value = "Look!" />
        
    </form>
    </div>

</body>
</html>