<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reminders</title>
    <link rel="stylesheet" href="static/main.css">
</head>
<body>

    <h1>Hello!</h1>
    
    <h3>Reminders:</h3>
    <form action = "/done" method="post">
        <input type="text" name="reminder" placeholder="Reminder" >
    <h3>Due Date:</h3>
        <input type="text" name="date" placeholder= "Date" >
        <input type = "submit" value = "Done" />
    </form>
    
</body>
</html>