body {
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.clker.com%2Fcliparts%2F8%2Ff%2F1%2Fd%2F14523855141840029429chevrons-zigzags-pattern-blue.jpg&f=1&nofb=1)
}

p {
    color:blue;
    text-align: center;
    font-size: 20px;
}


